td {
    min-width: 100px;
    text-align:center;
    color: rgba(122, 30, 214, 0.853);
}

table, td, th {
    border: 5px groove hotpink;
    border-collapse: collapse;
}

/* References the elements with the class "nav-list" */
.nav-list li
{
    background-color: maroon;
    list-style-type: none;
    padding: 0px;
    height:20px;
    width: 200px;
    overflow: auto;
}
.left{
    width: 20%;
    float: left;
}
.nav-list li a {
    text-decoration: none;
    color: white;
}

.active {
    color: hotpink;
    background-color: blue;
}

.nav-list li a:hover{
    background-color:rgba(179, 169, 169, 0.853);
}


