
:root {
    --sectionHeight: 80vh;
    --primary: #F0EDCF;
    --secondary: #2196f3;
    --tertiary: #1666a6;
    --navHeight: 60px;
    --navImg: 50px;
    --navPadding: 5px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: var(--secondary);
    overflow-x: hidden;
    display: block;
}
#nav-menu {
    width: 100%;
    height: var(--navHeight);
    display: flex;
    background: var(--primary);
    position: fixed;
    z-index: 99;
}
#w {
    height: var(--navImg);
    margin: var(--navPadding);
    box-sizing: border-box;
}
.nav-icon {
    height: fit-content;
    width: 20%;
    font-size: 48px;
    margin-top: var(--navPadding);
    text-align: left;
    z-index: 1;
}
.nav-icon a {
    text-decoration: none;
    color: var(--secondary);
}
.dropdown {
    position: absolute;
    display: inline-block;
    right: 0;
    width: fit-content;
}
.dropbtn {
    height: var(--navImg);
    padding: var(--navPadding);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary);
    box-shadow: -5px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content > a {
    color: var(--tertiary);
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
    transform: translateX(-30px);
}
.dropdown-content a:hover {
    color: var(--tertiary);
    box-shadow: -5px 10px 10px var(--tertiary);
}
#welcome{
  background-image: url("./images/Designer.png");
  filter: blur(5px);
  width: 100%;
  height: 100dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position-y 2s;
}
#bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  transition: width 2s;
}
#bg-text button {
    margin: 20px;
    background: var(--secondary);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-wrap: wrap;
    color: var(--primary);
}