table, th, td {
    border: 5px ridge  lightblue;
    border-collapse: collapse;
    padding: 2px;
    margin: 5px;
    
    /* border-radius: 10px; */
}

table {
    width: 400px;
}

.navbar {
    list-style-type: none;
    background-color:black;
    padding: 14px;
}

.navbar li {
    display: inline-flex;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 14px 3px;
    text-align: center;
}

.navbar li a:hover {
    background-color: grey;
}

.navbar li.active {
    background-color: honeydew;
}

.navbar li.active a {
    color: black;
}